# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local
.env

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

SUPABASE_URL=https://sqjhqegwjgdttlqpdrnp.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InNxamhxZWd3amdkdHRscXBkcm5wIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDgzOTUyOTYsImV4cCI6MjA2Mzk3MTI5Nn0.XoEs4cG9ZkBE9bkGRieoC__AtA4ix9keFzbe9JYoF5s

